---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';

const modeloCanvasUrl = "/modelo-canvas.pdf"
const actaDeConstitucionUrl = "/acta-de-constitucion.pdf"
const diagramaFlujoUrl = "/diagrama-de-flujo-cuidado.jpg"
const cuidador1 = "/cuidador1.jpg"
const cuidador2 = "/cuidador2.jpg"

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.seccion {
        margin-bottom: 3em;
      }
      h3, h2 {
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
      h3 {
        margin-top: 1em;
      }
      h1 {
        text-align: center;
        margin-bottom: 1em;
      }
      .personal-container {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
      }
      .personal {
        width: 500px;
        text-align: center;
        padding: 0 1em 0 1em;
      }
		</style>
	</head>
	<body>
		<Header />
		<main>
      <h1>Factores Ambientales de la Empresa</h1>
      <div class="seccion">
        
        <hr>
        <h2>Factores Internos</h2>
        <hr>
        <h3>Cultura Organizacional</h3>
        <p>La empresa es una pequeña criadora de cuyes en Manchay, dedicada a métodos tradicionales con un enfoque meticuloso en el cuidado de los animales. Durante nuestra visita, la dueña destacó la importancia de mantener estos métodos tradicionales, lo que puede presentar un desafío para la adopción de nuevas tecnologías.
        </p>
        <h3>Estructura Organizacional</h3>
        <p>La estructura es simple y horizontal, con pocos niveles jerárquicos. Las decisiones se toman principalmente por los propietarios, lo que facilita la toma de decisiones pero puede limitar la diversificación de ideas. Este aspecto se verificó durante nuestra reunión con la dueña, quien explicó el proceso de toma de decisiones dentro del negocio.
        </p>
        <h3>Gobernanza</h3>
        <p>No hay un comité formal para la toma de decisiones, y los procesos son generalmente informales. Esto podría acelerar el proceso de implementación, aunque también podría resultar en falta de documentación o control formal de cambios. Esta observación se realizó durante la visita al local, donde se notó la ausencia de comités formales y procedimientos documentados.
        </p>
        
        <h3>Capacidad y disponibilidad de los recursos</h3>
        <h4>Recursos Humanos</h4>
        <p>El equipo, aunque limitado en tamaño, está enfocado en el cuidado diario de los cuyes. La falta de experiencia en tecnología fue confirmada en nuestra conversación con la dueña, quien mencionó que el personal está más acostumbrado a métodos tradicionales.
        <div class="personal-container">
          <div class="personal">
            <h4>María Justina Melo Evangelista</h4>
            <img width={200} height={200} src={cuidador1} alt="" />
            <p>Dueña y cuidadora del establecimiento de crianza de cuyes</p>
          </div>  
          <div class="personal">
            <h4>Andrés Armando Aquino Meló</h4>
            <img width={200} height={200} src={cuidador1} alt="" />
            <p>Cuidador asistente</p>
          </div>  
          <div class="personal">
            <h4>Adrian Eduardo Arenas Quispe</h4>
            <img width={200} height={200} src={cuidador1} alt="" />
            <p>Cuidador asistente</p>
          </div>  
        </div>
        </p>
        <h4>Recursos Tecnológicos</h4>
        <p>La infraestructura tecnológica es limitada. El criadero no cuenta con computadoras y con una conexión a internet limitada, lo que podría suponer la compra de equipos de Internet añadida a los costos del proyecto. Esta información fue obtenida durante la visita, al revisar las instalaciones tecnológicas del criadero.
        </p>
        <h4>Experiencia previa</h4>
        <p>La empresa no tiene experiencia con sistemas tecnológicos avanzados. Esta falta de experiencia fue corroborada en la conversación con la dueña, quien expresó que no se han implementado tecnologías sofisticadas previamente.
        </p>

        <h3>Sistemas de información de la organización</h3>
        <h4>Sistemas actuales</h4>
        <p>El manejo del negocio se realiza en gran parte en papel o al igual que las cuentas en la venta de cuyes. La falta de sistemas avanzados podría dificultar la integración de un nuevo sistema de monitoreo. Esto fue confirmado al revisar los métodos de gestión durante nuestra visita.
        </p>
    
        <h3>Procesos y procedimientos establecidos</h3>
        <h4>Procedimientos de gestión</h4>
        <p>La empresa sigue procesos informales y flexibles, lo que puede facilitar la adaptación del proyecto, pero también podría llevar a inconsistencias en la ejecución si no se establecen procedimientos claros desde el principio. Esta característica fue evidenciada en la observación directa durante la visita al criadero.
        </p>

        <h3>Lecciones aprendidas</h3>
        <p>Al no haber realizado proyectos tecnológicos previos, la empresa carece de una base de conocimiento en esta área. Será crucial documentar el proceso para futuras mejoras. Esta observación se basó en la falta de documentación sobre proyectos similares durante la visita.
        </p>

        <hr>
        <h2>Factores Externos</h2>
        <hr>
        <h3>Condiciones del mercado</h3>
        <h4>Competencia</h4>
        <p>La mayoría de los criaderos de cuyes en la región operan de manera tradicional, con poca o ninguna implementación de tecnología avanzada. Esto podría representar una ventaja competitiva si el sistema de monitoreo demuestra mejorar la salud y productividad de los cuyes. Esta información fue obtenida al investigar el entorno competitivo en Manchay.
        </p>
        <h4>Tendencias tecnológicas</h4>
        <p>Aunque la tecnología IoT está en auge, su adopción en pequeños criaderos es baja. Esto podría ser una oportunidad para innovar, pero también un desafío en términos de educación y adaptación, como se discutió con la dueña.
        </p>

        <h3>Estándares de la industria</h3>
        <h4>Estándares de bienestar animal</h4>
        <p>La aplicación debe cumplir con los estándares de bienestar animal vigentes, asegurando que el monitoreo no interfiera con la calidad de vida de los cuyes y que las alertas generadas por el sistema contribuyan a su bienestar.
        </p>

        <h3>Consideraciones socioculturales</h3>
        <h4>Idioma y educación</h4>
        <p>La interfaz del sistema debe ser simple y, si es necesario, en el idioma local para asegurar su uso efectivo para que esté adaptada al nivel educativo del personal, quien tiene un nivel básico de educación.
        </p>

        <h3>Entorno físico</h3>
        <h4>Ubicación y clima</h4>
        <p>El criadero está ubicado en una zona rural, donde las condiciones climáticas podrían afectar la instalación y el funcionamiento de los sensores y cámaras. Es necesario considerar sistemas de protección y mantenimiento para estos dispositivos. Esta observación fue realizada durante la visita al criadero.
        </p>
        <h4>Infraestructura local</h4>
        <p>La infraestructura es limitada. Cuentan con acceso limitado a electricidad estable o internet de alta velocidad, lo que podría impactar en la conectividad y operación del sistema. Esta información se obtuvo al evaluar las instalaciones durante la visita.
        </p>
      </div>
      <div class="seccion">
        <hr>
        <h2>Herramientas</h2>
        <hr>
        <h3>Visita al criadero</h3>
        <p>Se realizaron entrevistas y toma de fotos al establecimiento</p>
        <img width={1020} height={510} src={"/entrevista-visita.jpg"} alt="" />
        
      </div>
      
		</main>
		<Footer />
	</body>
</html>
