---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';

const modeloCanvasUrl = "/modelo-canvas.pdf"
const actaDeConstitucionUrl = "/acta-de-constitucion.pdf"
const diagramaFlujoUrl = "/diagrama-flujo-envasado.png"
const cuidador1 = "/cuidador1.jpg"
const cuidador2 = "/cuidador2.jpg"

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.seccion {
        margin-bottom: 3em;
      }
      h3, h2 {
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
      h3 {
        margin-top: 1em;
      }
      h1 {
        text-align: center;
        margin-bottom: 1em;
      }
      .personal-container {
        display: flex;
        justify-content: space-between;
        margin-top: 3em;
        flex-wrap: wrap;
      }
      .personal {
        width: 300px;
        text-align: center;
        padding: 0 1em 0 1em;
        margin-top: 1em;
      }
		</style>
	</head>
	<body>
		<Header />
		<main>
      <h1>Activos de los Procesos de la Organización</h1>
      <div class="seccion">
        <hr>
        <h2>Documentación Organizacional</h2>
        <hr>
        <h3>Diagrama de Flujo del Proceso Actual de Envasado</h3>
        <p>Se ha creado un diagrama de flujo que detalla los procedimientos operativos estándar para el proceso de envasado del veneno para ratas en Biota Lab. Este documento incluye pasos esenciales como la preparación del producto, el control de calidad y el empaquetado. Durante una revisión de los procesos existentes, se desarrolló este diagrama en colaboración con el equipo de producción, ya que anteriormente no contaban con una representación formal del flujo de trabajo.</p>
        <img width={1220} height={1518} src={diagramaFlujoUrl} alt="" />
        
        <hr>
        <h2>Recursos Humanos</h2>
        <hr>
        <h3>Personal y experiencia en manejo de cuyes</h3>
        <div class="personal-container">
          <div class="personal">
            <h4>Denis Larramendi Griñán</h4>
            <img width={200} height={200} src={cuidador1} alt="" />
            <p>Representante legal y responsable de la gestión legal y regulatoria de BiotaLab</p>
          </div>  
          <div class="personal">
            <h4>Carlos Jiménez</h4>
            <img width={200} height={200} src={cuidador1} alt="" />
            <p>Encargado de supervisar el proceso de control de calidad en la producción</p>
          </div>  
          <div class="personal">
            <h4>Sofía Torres</h4>
            <img width={200} height={200} src={cuidador1} alt="" />
            <p>Responsable de la coordinación y supervisión del proceso de envasado</p>
          </div>  
          <div class="personal">
            <h4>Javier Ramírez</h4>
            <img width={200} height={200} src={cuidador1} alt="" />
            <p>Encargado del mantenimiento y reparación de los equipos utilizados en el proceso de producción y envasado
            </p>
          </div>  
          <div class="personal">
            <h4>María González</h4>
            <img width={200} height={200} src={cuidador1} alt="" />
            <p>Operaria de envasado, encargada de operar las máquinas de llenado y sellado de las bolsas</p>
          </div>  
          <div class="personal">
            <h4>Raúl Pérez</h4>
            <img width={200} height={200} src={cuidador1} alt="" />
            <p>Especialista en logística, encargada de la gestión de inventarios y coordinación de la distribución de productos
            </p>
          </div>  
          <div class="personal">
            <h4>Fernando Morales
            </h4>
            <img width={200} height={200} src={cuidador1} alt="" />
            <p>Analista de datos, responsable del análisis de la información recopilada por el sistema de Machine Learning para optimizar el proceso de producción.
            </p>
          </div>  
          <div class="personal">
            <h4>Patricia Ortiz</h4>
            <img width={200} height={200} src={cuidador1} alt="" />
            <p>Supervisora de turno, encargada de la supervisión diaria del equipo operativo durante los turnos de producción.
            </p>
          </div>  
          <div class="personal">
            <h4>Luis Rojas</h4>
            <img width={200} height={200} src={cuidador1} alt="" />
            <p>Técnico de seguridad, responsable de asegurar que todas las operaciones cumplan con las normativas de seguridad industrial.
            </p>
          </div>  
          
        </div>
        
        <hr>
        <h2>Infraestructura Física y Tecnológica</h2>
        <hr>
        <h3>Instalaciones de Biota Lab</h3>
        <p>Durante la evaluación inicial de las instalaciones de Biota Lab, se revisaron las características físicas para determinar la viabilidad de la instalación de equipos de monitoreo. Se asegurará que las áreas donde se realizarán los procesos de envasado cuenten con las condiciones necesarias para el correcto funcionamiento del sistema IoT.</p>
        
        <h3>Equipos y Herramientas Actuales</h3>
        <p>En la evaluación de las instalaciones, se identificaron los equipos y herramientas que actualmente se utilizan en el proceso de producción. Esto incluye sistemas manuales de envasado y control de calidad, los cuales se optimizarán mediante la implementación del nuevo sistema automatizado.
        </p>
        
      </div>
      <div class="seccion">
        <hr>
        <h2>Herramientas</h2>
        <hr>
        <h3>Visitas y Evaluaciones en las Instalaciones
        </h3>
        <p>Se realizaron visitas a Biota Lab, donde se llevaron a cabo entrevistas con el personal y se tomaron fotos y videos del establecimiento. Esta información fue fundamental para obtener un entendimiento completo de los activos y procesos actuales, y para identificar áreas de mejora en la implementación del sistema IoT.
        </p>
        
      </div>
      
		</main>
		<Footer />
	</body>
</html>
